/* reset css */ 

* { margin : 0 ; padding : 0 ; } 
header, section, footer { margin : 0 ; padding : 0 ;}
body{ font-family: 'NanumSquare'; color: black;}
li { list-style : none ;}
a { text-decoration : none; color: black;}
body nav ul li{	display: inline-block; }
section [class$=pic]{border-radius: 5px;}
img[src$=png]:hover{transform: scale(1.1);}

/*전체 크기 바탕*/
#backwrap{width: 1280px; margin:0 auto;}

/*main사진과 글제목*/
section #main{height: 500px; margin:10px 0;}
section .main_pic{	width: 850px;	height: 500px ;	  }
section #main_overflow{width: 850px; height: 500px; overflow: hidden; float: left; z-index:0; }
section #main_title{color: #FDFEFF; font-weight: bold; font-size: 32pt; position: relative; top:-550px; left: 30px; z-index:100; }
section #main_pic_id li{display: inline-block; position: relative; top: -100px; left: 30px}
section .main_cust_pic{	width: 70px;	height: 70px;	border-radius: 50%; z-index:900;}
section .main_cust_id{ font-size: 13pt; line-height: 1.5em; background-color: rgba(255, 255, 255, 0.65); font-style: italic; z-index:900;}

/*슬라이더*/
section .main_banner_pic{ width: 400px; height: 500px;}
#slider {  position: relative;  overflow: hidden;  margin: 20px auto 0 auto; }
#slider ul {  position: relative;  margin: 0;  padding: 0;  list-style: none;}
#slider ul li {  position: relative;  display: block;  float: left;
  margin: 0;  padding: 0; width: 400px; height: 500px;  text-align: center;  line-height: 300px;}
a.control_prev, a.control_next {  position: absolute;  top: 45%;  z-index: 999;  
  display: block;  width:45px; height: 45px;  border-radius: 50%; background-color: white;
  padding : 7% 0 0 6%;
  color: black;  font-size: 20px;  opacity: 0.6;  cursor: pointer;}
a.control_next {  right: 0;}
a.control_prev:hover, a.control_next:hover {
  opacity: 1;  transition: all 0.2s ease;}

/* 중간 분류메뉴 */
section #mid{height: 150px;}
section #midtitle{font-size: 22pt; padding: 20px;}
.tabs {  display: flex;  position: relative;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;  border-radius: 99px; }
.tab {  display: flex;   align-items: center;    justify-content: center;	height: 54px;  width: 200px; 
 font-size: 12pt;   z-index: 2; border-radius: 99px;  cursor: pointer;  transition: color 0.15s ease-in;}
.glider {  position: absolute;  height: 54px;  width: 140px; z-index: 1;
  border-radius: 99px;  transition: 0.25s ease-out; background-color: #ECD1AD;}
input[type="radio"] {  display: none;}
input[type="radio"]:checked + label {  color: #8B4513; filter:opacity(0.5) drop-shadow(0 0 0 #926b61);}
input[id="radio-1"]:checked ~ .glider {	transform: translateX(0);}
input[id="radio-2"]:checked ~ .glider {	transform: translateX(100%);}
input[id="radio-3"]:checked ~ .glider {	transform: translateX(200%);}
input[id="radio-4"]:checked ~ .glider { transform: translateX(300%);}
input[id="radio-5"]:checked ~ .glider { transform: translateX(400%);}
input[id="radio-6"]:checked ~ .glider { transform: translateX(500%);}
input[id="radio-7"]:checked ~ .glider { transform: translateX(600%);}
input[id="radio-8"]:checked ~ .glider { transform: translateX(700%);}
input[id="radio-9"]:checked ~ .glider { transform: translateX(800%);}

/*전체구조*/
#title{text-align: center;     margin-top: 30px;    height: 30px;}
#snsthunbnail ul{width : 1280px; margin : 10px auto; }
#snsthunbnail li{display: inline-block; width: 370px; height: 500px;  border: 1px solid white; margin: 25px; overflow: hidden; 
			 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 			 transition: all 0.3s cubic-bezier(.25,.8,.25,1); border-radius: 10px;}
			/*height를 650을 주면 사진크기가 370*450정도롤 들어갈 수 있긴 한데 전체적으로 너무 길어보여서..*/
#snsthunbnail li:hover{ box-shadow: 0 14px 18px rgba(29, 31, 25, 0.23), 0 10px 10px rgba(29, 31, 25, 0.23);}
#topmiddle{position:relative; top:-80px;}	
#writing{position: relative; top: -100px;  left: 583px;width: 100px;height: 40px; background-color:#C0C0C0; border-radius: 5px;}
		
/*박스 안의 세부구조*/
.snstitle{width: 95%; height: 10%; border: 1px solid white; margin: 10px auto 0 auto; }
.thumbnail{width: 350px; height: 70%;  border: 1px solid white; margin: 10px auto 0 auto; overflow: hidden;}
			/* 사진이 잘리는 크기와 일치하기 때문에, 이 css와 WriteAction의 BufferdImage()내의 값은 동일할 것 */
.thumbnail>img{object-fit:cover; border-radius: 5px;}
.txt{width: 95%; height: 10%; border: 1px solid white; margin: 10px auto 0 auto; }

/*회원사진,아이디*/
.snstitle .custpic{float: left; width: 50px; height: 100%; overflow:hidden; background-color:#C0C0C0; border-radius: 50%;}
.snstitle span{position: relative; top:29%; left: 3%;}

/*해시테그, 조회수, 좋아요*/
.txt .read{height: 85%; overflow: hidden;}
.txt .buttonlike{z-index:10; float: right; width: 25px; height: 25px; /*background-color:#C0C0C0; border-radius: 50%;*/}
.txt .buttonfollow{float: right; width: 25px; height: 25px;}



















/*글씨크기 변경 등 배경 안맞으면 큰박스 길이만 조절해주기*/
nav a:nth-child(1):hover ~ #indicator{    left: 2%;     background: #ECD1AD;}
nav a:nth-child(2):hover ~ #indicator{    left: 18%;    background: #ECD1AD;}
nav a:nth-child(3):hover ~ #indicator{    left: 33%;    background: #ECD1AD;}
nav a:nth-child(4):hover ~ #indicator{    left: 50%;    background: #ECD1AD;}
nav a:nth-child(5):hover ~ #indicator{    left: 65%;    background: #ECD1AD;}
nav a:nth-child(6):hover ~ #indicator{    left: 81%;    background: #ECD1AD;}

/* 3X3으로 나뉘는 sns사진  */
section div[id^="row"]{height: 450px; margin:40px 0;  z-index:0; }
section div[id^="row"]>ul>li{height: 450px; display: inline-block; float: left; margin-left: 40px; z-index:10;}
section .pic{width: 370px; height: 450px;}
section .f_midpic{width: 370px; height: 370px;}
section .midpic{width: 370px;	height: 450px; }
section .pic_overflow{width: 370px; height: 450px; overflow: hidden;}
section .f_midpic_overflow{width: 370px; height: 370px; overflow: hidden;}
section .midpic_overflow{width: 370px; height: 450px; overflow: hidden; position: relative; top: -80px;}

/*중간에 들어가는 계정사진과 아이디*/
section .pic_id li{display: inline; position: relative; top: -90px; left: 10px; z-index:20;}
section .mid_pic_id li{display: inline-block; position: relative; top: -90px; left: 10px; z-index:20;}
section .cust_pic{	width: 60px; height: 60px;	border-radius: 50%;}
section .cust_id{ font-size: 12pt; line-height: 1.5em; background-color: rgba(255, 255, 255, 0.65); font-style: italic;}

/*썸네일 속 상품 설명*/
div[id$="box"]{width: 200px; height: 80px; border-radius: 20px ; background-color: rgba(255, 255, 255, 0.9);
	font-size: 10pt; display : flex; align-items: center;  padding: 10px; overflow: hidden;}
img[src^="png/pro"]{width: 100px; height: 80px; }
div[id$="box"] li{margin: 0 0 3px 3px;}
li.box_brand{font-style: italic; color:#797979; }
li.box_name{color: black;}
li.box_price{font-style: italic; font-weight: bold; }

/*스크롤과 동시에 이미지 보이기*/
div[id^="row"] div[class$="flow"]{opacity: 0;}


/* 포지션은 각각변경해야함*/
div[id^="pro"]{position: relative; top: -300px; left: 100px; z-index: 30;} 
#pro1-1_icon{ }
#pro1-1_box{ }

aside{position: fixed; left: 50%; margin-left: 700px; top: 50%;
color: #8B4513; filter:opacity(0.5) drop-shadow(0 0 0 #926b61);}