/* reset css */ 

* { margin : 0 ; padding : 0 ; } 
header, section, footer { margin : 0 ; padding : 0 ;}
body{  font-family: 'NEXON Lv1 Gothic OTF'; color: black;}
li { list-style : none ;}
a { text-decoration : none; color: black;}
body nav ul li{	display: inline-block; }
section [class$=pic]{border-radius: 5px;}
img[src$=png]:hover{transform: scale(1.1);}

#backwrap{width: 1280px; height: 100%; margin:0 auto;}


/*스크롤 하면 나올 네비 픽스*/
#scrollnav{ width: 743px;   height: 60px; z-index: 999; margin: 0 auto; left :0; right:0; top: 20px;
    padding: 10px 10px 0 10px ;    background-color: #FFF4E5; border-radius: 35px; opacity: 85%;
    box-shadow: 5px 5px 3px #B7A383; }
#scrollnav nav a{position: relative;    width: 16.6%;  z-index: 10;     display: table-cell;    
    text-align: center;    color: #000000;   transform: translateY(-10%);
    font-weight: bold;    padding: 10px 20px; font-size : 12pt;    transition: 0.2s ease color;}
#scrollnav a:hover{  color: #292929; transform:translateY(-10px);}

/*헤더 두번째 네비*/
#midnav{ float: left; display: table;     width: 743px;    transform: translateY(-10%); margin-left:140px;
    padding: 0 10px;
}
#midnav nav a{position: relative;    width: 16.6%;  z-index: 10;     display: table-cell;    
    text-align: center;    color: #949494;   
    font-weight: bold;    padding: 10px 20px; font-size : 12pt;    transition: 0.2s ease color;}
nav a:before, nav a:after{    content: "";    position: absolute;
    border-radius: 50%;    transform: scale(0);
    transition: 0.2s ease transform;}
#midnav nav a:before{  top: 0;    left: 10px;  width: 6px;  height: 6px;}
#midnav nav a:after{   top: 5px;  left: 18px;  width: 4px;  height: 4px}
#midnav nav a:before{    background-color: #FFF4E5;}
#midnav nav a:after{    background-color: #ECD1AD;} 
nav a:hover:before, nav a:hover:after{    transform: scale(1);}
nav a:before, nav a:after{    content: "";    position: absolute;
    border-radius: 50%;    transform: scale(0);
    transition: 0.2s ease transform;}
#midnav a:hover{  color: #292929; transform:translateY(-5px);}
#indicator{    position: absolute;    left: 0;    bottom: 8px;    width: 115px;    height: 60px;   
    border-radius: 35px;    transition: 0.2s ease left; z-index: 0;}
nav a:hover{ color: #8B4513; filter:opacity(0.7) drop-shadow(0 0 0 #8B4513);}
/*글씨크기 변경 등 배경 안맞으면 큰박스 길이만 조절해주기*/
nav a:nth-child(1):hover ~ #indicator{    left: 2%;     background: #ECD1AD;}
nav a:nth-child(2):hover ~ #indicator{    left: 18%;    background: #ECD1AD;}
nav a:nth-child(3):hover ~ #indicator{    left: 33%;    background: #ECD1AD;}
nav a:nth-child(4):hover ~ #indicator{    left: 50%;    background: #ECD1AD;}
nav a:nth-child(5):hover ~ #indicator{    left: 65%;    background: #ECD1AD;}
nav a:nth-child(6):hover ~ #indicator{    left: 81%;    background: #ECD1AD;}
/*원 혹은 네모박스. 색상 그라데이션으로 주기
#midnav a:hover{color: #292929; transform:translateY(-5px);}
#indicator{position: absolute;  left: 0;  bottom: -10px;  width: 100px;    height: 100px;   
    border-radius: 50%;    transition: 0.2s ease left; z-index: 0; 
nav a:nth-child(1):hover ~ #indicator{    left: 2%;     background: linear-gradient(130deg, #FFF4E5, #ECD1AD);}
nav a:nth-child(2):hover ~ #indicator{    left: 19%;    background: linear-gradient(130deg, #FFF4E5, #ECD1AD);}
nav a:nth-child(3):hover ~ #indicator{    left: 36%;    background: linear-gradient(130deg, #FFF4E5, #ECD1AD);}
nav a:nth-child(4):hover ~ #indicator{    left: 52%;    background: linear-gradient(130deg, #FFF4E5, #ECD1AD);}
nav a:nth-child(5):hover ~ #indicator{    left: 69%;    background: linear-gradient(130deg, #FFF4E5, #ECD1AD);}
nav a:nth-child(6):hover ~ #indicator{    left: 86%;    background: linear-gradient(130deg, #FFF4E5, #ECD1AD);}
}
*/

/* 검색창 */
.search-wrapper {float: left; position: absolute;    transform: translate(-50%, -50%);   
    top:45px; margin-left: 730px;}
.search-wrapper .input-holder {    
    height: 70px;    width:70px;    overflow: hidden;    background: #FFF;    border-radius:6px;
    position: relative;    transition: all 0.3s ease-in-out;}
.search-wrapper.active .input-holder {    width:250px;    border-radius: 50px;    
    background: #FFF4E5;    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);}
.search-wrapper .input-holder .search-input {    width:100%;    height: 50px;    padding:0px 70px 0 20px;
    opacity: 0;    position: absolute;    top:0px;    left:0px;    background: transparent;   
    box-sizing: border-box;    border:none;    outline:none;    font-size: 16px;    font-weight: 400;
    line-height: 20px;    color:black; font-family: 'NEXON Lv1 Gothic OTF';    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);    transition-delay: 0.3s;}
.search-wrapper.active .input-holder .search-input {    opacity: 1;    transform: translate(0, 10px);}
.search-wrapper .input-holder .search-icon {    width:70px;    height:70px;    border:none;
    border-radius:6px;    background: #FFF;    padding:0px;    outline:none;    position: relative;
    z-index: 2;    float:right;    cursor: pointer;    transition: all 0.3s ease-in-out;}
.search-wrapper.active .input-holder .search-icon {    width: 50px;    height:50px;
    margin: 10px;    border-radius: 30px;}
.search-wrapper .input-holder .search-icon span {    width:22px;    height:22px;    display: inline-block;
    vertical-align: middle;    position:relative;    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);}
.search-wrapper.active .input-holder .search-icon span {    transform: rotate(-45deg);}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;     content:'';}
.search-wrapper .input-holder .search-icon span::before {    width: 4px;    height: 11px;    left: 9px;
    top: 18px;    border-radius: 2px;    background: #FE5F55;}
.search-wrapper .input-holder .search-icon span::after {    width: 14px;    height: 14px;    left: 0px;
    top: 0px;    border-radius: 16px;    border: 4px solid #FE5F55;}
.search-wrapper .close {    position: absolute;    z-index: 1;    top:24px;    right:20px;
    width:25px;    height:25px;    cursor: pointer;    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);    transition-delay: 0.2s;}
.search-wrapper.active .close {    right:-50px;    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);    transition-delay: 0.5s;}
.search-wrapper .close::before, .search-wrapper .close::after {    position:absolute;    content:'';
    background: #8B4513;    border-radius: 2px;}
.search-wrapper .close::before {    width: 5px;    height: 25px;    left: 10px;    top: 0px;}
.search-wrapper .close::after {    width: 25px;    height: 5px;    left: 0px;    top: 10px;}

/*main사진과 글제목*/
section #main{height: 500px; margin:10px 0;}
section .main_pic{	width: 850px;	height: 500px ;	  }
section #main_overflow{width: 850px; height: 500px; overflow: hidden; float: left; z-index:0; }
section #main_title{color: #FDFEFF; font-weight: bold; font-size: 32pt; position: relative; top:-550px; left: 30px; z-index:100; }
section #main_pic_id li{display: inline-block; position: relative; top: -100px; left: 30px}
section .main_cust_pic{	width: 70px;	height: 70px;	border-radius: 50%; z-index:900;}
section .main_cust_id{ font-size: 13pt; line-height: 1.5em; background-color: rgba(255, 255, 255, 0.65); font-style: italic; z-index:900;}

/*슬라이더*/
section .main_banner_pic{ width: 400px; height: 500px;}
#slider {  position: relative;  overflow: hidden;  margin: 20px auto 0 auto; }
#slider ul {  position: relative;  margin: 0;  padding: 0;  list-style: none;}
#slider ul li {  position: relative;  display: block;  float: left;
  margin: 0;  padding: 0; width: 400px; height: 500px;  text-align: center;  line-height: 300px;}
a.control_prev, a.control_next {  position: absolute;  top: 45%;  z-index: 999;  
  display: block;  width:45px; height: 45px;  border-radius: 50%; background-color: white;
  padding : 7% 0 0 6%;
  color: black;  font-size: 20px;  opacity: 0.6;  cursor: pointer;}
a.control_next {  right: 0;}
a.control_prev:hover, a.control_next:hover {
  opacity: 1;  transition: all 0.2s ease;}

/* 중간 분류메뉴 */
section #mid{height: 150px;}
section #midtitle{font-size: 22pt; padding: 20px;}
.tabs {  display: flex;  position: relative;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;  border-radius: 99px; }
.tab {  display: flex;   align-items: center;    justify-content: center;	height: 54px;  width: 200px; 
 font-size: 12pt;   z-index: 2; border-radius: 99px;  cursor: pointer;  transition: color 0.15s ease-in;}
.glider {  position: absolute;  height: 54px;  width: 140px; z-index: 1;
  border-radius: 99px;  transition: 0.25s ease-out; background-color: #ECD1AD;}
input[type="radio"] {  display: none;}
input[type="radio"]:checked + label {  color: #8B4513; filter:opacity(0.5) drop-shadow(0 0 0 #926b61);}
input[id="radio-1"]:checked ~ .glider {	transform: translateX(0);}
input[id="radio-2"]:checked ~ .glider {	transform: translateX(100%);}
input[id="radio-3"]:checked ~ .glider {	transform: translateX(200%);}
input[id="radio-4"]:checked ~ .glider { transform: translateX(300%);}
input[id="radio-5"]:checked ~ .glider { transform: translateX(400%);}
input[id="radio-6"]:checked ~ .glider { transform: translateX(500%);}
input[id="radio-7"]:checked ~ .glider { transform: translateX(600%);}
input[id="radio-8"]:checked ~ .glider { transform: translateX(700%);}
input[id="radio-9"]:checked ~ .glider { transform: translateX(800%);}

/* 3X3으로 나뉘는 sns사진  */
section div[id^="row"]{height: 450px; margin:40px 0;  z-index:0; }
section div[id^="row"]>ul>li{height: 450px; display: inline-block; float: left; margin-left: 40px; z-index:10;}
section .pic{width: 370px; height: 450px;}
section .f_midpic{width: 370px; height: 370px;}
section .midpic{width: 370px;	height: 450px; }
section .pic_overflow{width: 370px; height: 450px; overflow: hidden;}
section .f_midpic_overflow{width: 370px; height: 370px; overflow: hidden;}
section .midpic_overflow{width: 370px; height: 450px; overflow: hidden; position: relative; top: -80px;}

/*중간에 들어가는 계정사진과 아이디*/
section .pic_id li{display: inline; position: relative; top: -90px; left: 10px; z-index:20;}
section .mid_pic_id li{display: inline-block; position: relative; top: -90px; left: 10px; z-index:20;}
section .cust_pic{	width: 60px; height: 60px;	border-radius: 50%;}
section .cust_id{ font-size: 12pt; line-height: 1.5em; background-color: rgba(255, 255, 255, 0.65); font-style: italic;}

/*썸네일 속 상품 설명*/
div[id$="box"]{width: 200px; height: 80px; border-radius: 20px ; background-color: rgba(255, 255, 255, 0.9);
	font-size: 10pt; display : flex; align-items: center;  padding: 10px; overflow: hidden;}
img[src^="png/pro"]{width: 100px; height: 80px; }
div[id$="box"] li{margin: 0 0 3px 3px;}
li.box_brand{font-style: italic; color:#797979; }
li.box_name{color: black;}
li.box_price{font-style: italic; font-weight: bold; }

/*스크롤과 동시에 이미지 보이기*/
div[id^="row"] div[class$="flow"]{opacity: 0;}


/* 포지션은 각각변경해야함*/
div[id^="pro"]{position: relative; top: -300px; left: 100px; z-index: 30;} 
#pro1-1_icon{ }
#pro1-1_box{ }

aside{position: fixed; left: 50%; margin-left: 700px; top: 50%;
color: #8B4513; filter:opacity(0.5) drop-shadow(0 0 0 #926b61);}