/* reset css */ 
* { margin : 0 ; padding : 0 ; } 
a { text-decoration : none;}
body, pre{ font-family: 'NanumSquare'; }

/* 큰박스들 크기 주기 */
#wrap{width:770px; margin:0 auto;}

/*메인사진 */
#mainpic{width:100%; height:400px; margin-top:20px; overflow:hidden; }
#mainpicimg{width: 100%;height: 100%; object-fit:cover;}

/*제목 및 수정삭제버튼*/
#title{margin:20px 0;}
h1{font-size: 28pt;}
#title input[type="button"]{width: 100px;height: 40px; background-color:#C0C0C0; border-radius: 5px;
 float: right; margin-left: 10px; position: relative; top: -40px;}

/*제목 아래 정보 나열*/
#info{width:100%; border:2px solid #C0C0C0; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}
#info table{margin:0 auto; width:90%;}
#info tr td:nth-child(odd){ width:15%; font-weight: bold;}
#info tr td:nth-child(even){ width:18%;}


/*mainpic*/                           					  /* 여기서부터 slider css*/
.postPics{width: 100%; position: relative;  overflow: hidden;  margin: 20px auto 0 auto;}
.postPics .pics{margin: 0 auto; object-fit:cover;}

/*세로정렬 사진 내 상품*/
.pics{float: left;}
.postItem{width: 120px; float:right;}
.itemthumbnailinfo li:first-child{position: absolute; right: 130px; }
.itemthumbnailinfo li:nth-child(2){position: absolute; right: 130px; top:110px;}
.itemthumbnailinfo li:nth-child(3){position: absolute; right: 130px; top:220px;}
.itemthumbnailinfo li:nth-child(4){position: absolute; right: 130px; top:330px;}
.postIteminfos{width : 200px; height: 100px; background-color: wheat;   }





