/* reset css */ 
* { margin : 0 ; padding : 0 ; } 
li { list-style : none ; display: inline-block; }
a { text-decoration : none;}
body{ font-family: 'NanumSquare'; }

/* 큰박스들 크기 주기 */
#wrap{width:950px; margin:0 auto;}

/*메인사진 */
#mainpic{width:100%; height:400px; margin-top:20px; overflow:hidden; }
#mainpicimg{width: 100%;height: 100%; object-fit:cover;}

/*제목 및 수정삭제버튼*/
#title{height: 50px; margin:20px 0;}
h1{font-size: 28pt;}
#title input[type="button"]{width: 100px;height: 40px; background-color:#C0C0C0; border-radius: 5px;
 float: right; margin-left: 10px; position: relative; top: -40px;}

#info{width:100%; height:170px; border:2px solid #C0C0C0; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}
#info table{margin:0 auto; width:90%;}
#info tr td:nth-child(odd){ width:15%; font-weight: bold;}
#info tr td:nth-child(even){ width:18%;}
#content{height: 300px; margin-top:20px; border:2px solid #C0C0C0; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}




