/* reset css */ 
* { margin : 0 ; padding : 0 ; } 
li { list-style : none ;  display: inline-block;}
a { text-decoration : none;}
body{ font-family: 'NanumSquare'; }
#wrap{width: 1255px; margin: 0 auto; } 

/*게시판 첫번째 메뉴 및 select 스타일*/
#menu ul{margin-left: 10px;}
#menu{height:40px; padding:10px; margin-top:40px; border:2px solid gray; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);	}
select{border: 2px solid #fff; height: 40px;}
option{background: #ffffff;  color: #000;  padding: 3px 0; font-size:12pt;}

/*스타일 들어간 select box*/
.selectBoxList { margin-top:40px; display: flex;  grid-gap: 30px;}
.selectBox2 * {box-sizing: border-box; }
.selectBox2 {position: relative; z-index: 1; width: 150px;  height: 45px;  border-radius: 4px;
  border: 2px solid #789849;  background-size: 20px;  cursor: pointer; }
.selectBox2 .label {  display: flex;  align-items: center;  width: inherit;  height: inherit;
  border: 0 none;  outline: 0 none;  padding-left: 15px;  background: transparent;  cursor: pointer;}
.selectBox2 .optionList {  position: absolute;   top: 52px;  left: 0;  width: 100%;  background: #789849;
  color: #fff;  list-style-type: none;  padding: 0;  border-radius: 6px;  overflow: hidden;  max-height: 0;
  transition: .3s ease-in;}
.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}
.selectBox2.active {    z-index: 10;}
.selectBox2.active .optionList {  max-height: 500px;}
.selectBox2 .optionItem {  border-bottom: 1px dashed #E5FFCC;  padding: 5px 15px 5px;
 transition: .1s;     display: inherit;}
.selectBox2 .optionItem:hover {  background: rgb(175, 93, 93);}
.selectBox2 .optionItem:last-child {  border-bottom: 0 none;}

/*새로 만드는 틀*/
#list{margin-top:30px;}
#list>ul>li{display: inline-block; width: 30%; height: 330px; margin: 17px;}/*border: 1px solid gray; */
ul{margin:0 auto;}

/*썸네일 사진*/
.thumbnail{width:100%; height:250px; overflow:hidden; border-radius: 5px;}
.thumbnail img{width:100%; height:100%;object-fit:cover;}


/*사진 아래 제목과 아이디*/
#list>ul>li div{text-align: center;}/*border: 1px solid gray; */
.title{width:90%; height: 22px;  font-size: 13pt;  color: #000;  font-weight: bold;  margin: 5px auto;}
.writer{width: 50%; height: 18px; font-size:12pt; margin: 0 auto;}
.view{width: 50%; height: 18px; font-size:10pt;  margin: 0 auto;}

/*제출 버튼*/
input[type=button]{	border: solid 2px #E9E9E9; background-color: #E9E9E9; 
	width: 100px;height: 40px; float:right;}

