/* reset css*/ 
* { margin : 0 ; padding : 0 ; } 
li { list-style : none ; display: inline-block; }
a { text-decoration : none;}
body{ font-family: 'NanumSquare'; font-size:13pt; }

/* 큰박스들 크기 주기 */
#wrap{width:1100px; margin:0 auto; }
#info{    text-align: center;     margin: 20px;}
#getinfo{width:49%; float:left; border:1px solid gray; }
#getinfo2{width:49%; float:right; border:1px solid gray; }
#getinfo,#getinfo2{height: 600px; margin-bottom: 20px; border:2px solid #C0C0C0; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}
#writing{width:100%; margin-top:20px; border:2px solid #C0C0C0; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);	}

/*보더라인
td{border:1px solid gray; }*/

/* 정보작성 테이블. 오른쪽 열만 가운데 정렬*/
thead h4{text-align: center;}
#getinfo tr>td:first-child,#getinfo2 tr>td:first-child{width:20%; font-weight:bold; padding-left: 15px;}

/* 테이블 입력칸 높이 높게*/
#getinfo tr,td{height: 68px;}
input[type="submit"]{width: 100px; height: 30px; }
#getinfo select,#getinfo2 select#fam{width:50%; height: 60px;}
#getinfo2 select{height: 60px;}
#getinfo2 select#region, #getinfo2 #regiontxt{width:48%; height: 60px;}
#getinfo2 #budgettxt{width: 50%; height: 60px;}
#getinfo2 select[id^=end],#getinfo2 select[id^=start]{width:32%;}

/* 주거형태 radiobox 스타일 주기*/
input[id^="ho"] {display: none;} /* 본래의 체크박스 사라지게 하기*/
input[id^="ho"] + label {display: inline-block;	width: 66px; height: 66px; line-height:66px; border-radius: 50%; text-align: center; cursor: pointer;} /*대신 보일 박스의 크기 및 스타일*/
input[id^="ho"] + label {background-color:#E5FFCC; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
input[id^="ho"]:checked + label {background-color:#789849;} /*체크시 체크이미지 추가*/

/* 반려동물 radiobox 스타일 주기*/
input[id^="pet"] {display: none;} /* 본래의 체크박스 사라지게 하기*/
input[id^="pet"] + label {display: inline-block;	width: 66px; height: 66px; line-height:66px; border-radius: 50%; text-align: center; cursor: pointer;} /*대신 보일 박스의 크기 및 스타일*/
input[id^="pet"] + label {background-color:#E5FFCC; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
input[id^="pet"]:checked + label {background-color:#789849;} /*체크시 체크이미지 추가*/

/* 색상 선택하는 박스 공통적으로 색상주기*/
input[id^="cb"] {display: none;} /* 본래의 체크박스 사라지게 하기*/
input[id^="cb"] + label {display: inline-block;	width: 29px; height: 30px;	border-radius: 50%;	cursor: pointer;} /*대신 보일 박스의 크기 및 스타일*/
input[id^="cb"]:checked + label { background-image: url("../img/community/png/check-line.png");} /*체크시 체크이미지 추가*/
input[id="cb1"]:checked + label { background-image: url("../img/community/png/check-line-black.png");}
/* 체크박스 각각 색상주기*/
/* 검정은 체크시 흰색체크이미지로 보이도록, 화이트는 보더가 없으면 티가 안나니까 보더 줘야함*/
input[id="cb1"] + label {background-color:#000000;}
input[id="cb2"] + label {background-color:#FFFFFF; border:1px solid #000000 ;}
input[id="cb3"] + label {background-color:#FF6666;}
input[id="cb4"] + label {background-color:#FFB266;}
input[id="cb5"] + label {background-color:#FFFF66;}
input[id="cb6"] + label {background-color:#4C9900;}
input[id="cb7"] + label {background-color:#004C99;}
input[id="cb8"] + label {background-color:#4C0099;}
input[id="cb9"] + label {background-color:#994C00;}
input[id="cb10"] + label {background-color:#FF66B2;}

/* 글작성 테이블*/
#writing h4{font-size:18pt;}
#writing input[type="text"]{width: 96%; height: 60px; font-size: 16pt; padding-left:5px;}
#writing textarea{width:98%;height: 300px;padding:10px; font-size: 16pt;  } 
thead td, tfoot td{text-align: center;}
#writing input[type="submit"]{width: 100px;height: 40px; background-color:#C0C0C0; border-radius: 5px;}

/* 이미지 미리보기*/

#writing h5{margin-bottom:5px;font-size: 13pt;}
#writing input[type=file]{position:relative; left:30px;}

/*글제목과 내용 쓰는 공간 '칸에' 패딩주기. 직접 <input><textarea>태그에 주면 폭이 벗어남*/
#title{padding-left:5px; text-align: center;}
#text{  padding:10px; }
#text #textarea{width: 96%;}
