@charset "UTF-8";
/*	*{
		margin : 0 ; padding : 0 ;
	}*/
@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;

html {
	font-family: 'NanumSquare';
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
}

.section .servimg {
	width: 1900px;
	height: 390px;
	/*background-color: lightblue;*/
	background-image: url("../img/gosu/meeting.jpg");
	background-size: 100% 100%;
}

.section .servimg .servtext {
	width: 700px;
	height: 360px;
	text-align: center;
	margin: 0 auto;
}

.section .servimg .servtext h2 {
	padding-top: 100px;
	color: white;
}

.section input[type="textarea"] {
	margin-top: 20px;
	border: none;
	width: 350px;
	height: 50px;
	font-size: 16pt;
}

.section input[type="button"] {
	border: none;
	width: 120px;
	height: 50px;
	font-size: 16pt;
}

.selcton .cate1:hover {
	color: #cfb89c;
}

.selcton .cate2:hover {
	color: #cfb89c;
}

.selcton .cate3:hover {
	color: #cfb89c;
}

.selcton .cate4:hover {
	color: #cfb89c;
}

.selcton .cate5:hover {
	color: #cfb89c;
}

.selcton .cate6:hover {
	color: #cfb89c;
}

.selcton .cate7:hover {
	color: #cfb89c;
}

.selcton .cate8:hover {
	color: #cfb89c;
}

.section .gosucate {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.section .gosucate .cate1 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/lesson.png");
}

.section .gosucate .cate2 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/home.png");
}

.section .gosucate .cate3 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/biz.png");
}

.section .gosucate .cate4 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/biz.png");
}

.section .gosucate .cate5 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/design.png");
}

.section .gosucate .cate6 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/health.png");
}

.section .gosucate .cate7 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/alba.png");
}

.section .gosucate .cate8 {
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	line-height: 140px;
	background-image: url("../img/gosu/icon/gita.png");
}

.section .bo {
	margin-top: 30px;
	width: 1280px;
	height: 380px;
	margin-left: auto;
	margin-right: auto;
}

.section .boxtitle {
	float: left;
	margin-top: 40px;
	padding-left: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section .box2 {
	background-color: white;
	width: 250px;
	height: 30px;
	border-radius: 4px;
	border: 2px solid #cfb89c;
	padding: 16px;
	line-height: 30px;
}

.section .bestcateimg1 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv1.jpg");
}

.section .bestcateimg2 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv2.jpg");
}

.section .bestcateimg3 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv3.jpg");
}

.section .bestcateimg4 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv4.jpg");
}

.section .bestcateimg5 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv5.jpg");
}

.section .bestcateimg6 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv6.jpg");
}

.section .bestcateimg7 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv7.jpg");
}

.section .bestcateimg8 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv8.jpg");
}

.section .bestcateimg9 {
	width: 250px;
	height: 200px;
	border: 2px solid #cfb89c;
	background-image: url("../img/gosu/bestserv9.jpg");
}

.section .bestcate {
	margin-top: 100px;
	width: 1280px;
	height: 1200px;
	text-align: center;
	/*background-color: lightgray;*/
}

.section .bestcate h2 {
	font-size: 20pt;
}

.section .chloca {
	width: 1280px;
	height: 900px;
	/*background-color: lightgray;*/
}

.section .locatext {
	text-align: center;
}

.section .selectadrees {
	margin-top: 30px;
	margin-left: -700px;
}

.section .gosuimg {
	float: left;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 40px;
	background-color: lightpink;
	clip-path: circle(40px at center);
}

.section .nikname {
	float: left;
	margin-left: 20px;
}

.section .ad {
	float: left;
	margin-top: 60px;
	margin-left: -110px;
}

.section .adbox {
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 590px;
	height: 500px;
	padding: 10px;
	background-color: white;
	margin-top: -495px;
	/*margin-top: 50px;*/
	margin-left: 50px;
}

.section .star {
	width: 60px;
	height: 30px;
	margin-top: 20px;
	margin-left: 500px;
}

.section .miter {
	width: 100px;
	height: 30px;
	margin-top: 20px;
	margin-left: 460px;
}

.section .adrimg {
	width: 500px;
	height: 500px;
	margin-right: 90px;
	margin-top: 30px;
	background-image: url("../img/gosu/map.png");
}

.foot {
	margin-top: 50px;
	width: 1900px;
	height: 100px;
	color: white;
	background-color: #926b61;
	line-height: 27px;
}

.foot .ft1 {
	margin-left: 90px;
}

.foot .ft1 li {
	margin-right: 20px;
}

.foot .ft2 {
	margin-top: 10px;
	margin-left: 30px;
}

.foot .ft2 li {
	margin-right: 50px;
}

.foot .ft3 {
	margin-top: 10px;
	margin-left: 30px;
}

}
.foot .ft3 li {
	margin-right: 50px;
}

.headimg {
	width: 1080px;
	height: 300px;
}

select {
	border: solid 1px #9E9E9E;
	width: 290px;
}
/*�궡 �쐞移섏뿉�꽌 怨좎닔瑜� 吏곸젒 李얠븘蹂댁꽭�슂*/
.locatext>div::-webkit-scrollbar {
	width: 15px;
}

#midnav nav {
	position: absolute;
	right: 0;
	left: 0;
	display: table;
	width: 800px;
	margin: 0 auto;
	transform: translateY(-50%);
}

#midnav nav a {
	position: relative;
	width: 16.6%;
	z-index: 10;
	display: table-cell;
	text-align: center;
	color: #949494;
	text-decoration: none;
	font-family: '�굹�닎怨좊뵓';
	font-weight: bold;
	padding: 10px 20px;
	transition: 0.2s ease color;
}

nav a:before, nav a:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.2s ease transform;
}

#midnav nav a:before {
	top: 0;
	left: 5px;
	width: 6px;
	height: 6px;
}

#midnav nav a:after {
	top: 5px;
	left: 5px;
	width: 4px;
	height: 4px
}

#midnav nav a:before {
	background-color: #FAEFD9;
}

#midnav nav a:after {
	background-color: #5DB736;
}

#midnav a:hover {
	color: #292929;
	transform: translateY(-1px);
}

#indicator {
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100px;
	height: 100px;
	opacity: 50%;
	border-radius: 50%;
	transition: 0.2s ease left;
	z-index: 0;
}

#midnav nav a:hover:before, nav a:hover:after {
	transform: scale(1);
}

#midnav nav a:nth-child(1):hover ~ #indicator {
	left: 1.8%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(2):hover ~ #indicator {
	left: 14%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(3):hover ~ #indicator {
	left: 26.7%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(4):hover ~ #indicator {
	left: 39.3%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(5):hover ~ #indicator {
	left: 52%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(6):hover ~ #indicator {
	left: 64.2%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(7):hover ~ #indicator {
	left: 77%;
	background: linear-gradient(130deg, #cfb89c, white);
}

#midnav nav a:nth-child(8):hover ~ #indicator {
	left: 89.3%;
	background: linear-gradient(130deg, #cfb89c, white);
}

.search-box {
	padding: 5px;
	/*position: absolute;*/
	/*top: 10%;
  left: 61%;*/
	box-shadow: 0px 0px .5px 1px #926b61;
	height: 30px;
	background-color: #fff;
	border: 1px solid #cfb89c;
	border-radius: 30px;
	transition: 0.4s;
	width: 282px;
}
/*.search-box:hover{
  box-shadow: 0px 0px .5px 1px #926b61;
  width: 282px;
}*/
.search-btn {
	text-decoration: none;
	float: right;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #926b61;
}
/*.search-box:hover > .search-btn{
  background-color: #fff;
}*/
.search-txt {
	display: flex;
	padding: 0;
	width: 240px;
	border: none;
	background: none;
	outline: none;
	float: left;
	font-size: 11pt;
	line-height: 30px;
	transition: .4s;
}

input[type="button"] {
	color: white;
	background-color: #cfb89c;
}

input[type="button"]:hover {
	background-color: #926b61;
}

.btn_gotop {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 999;
	border: 1px solid #ccc;
	outline: none;
	background-color: white;
	color: #333;
	cursor: pointer;
	padding: 15px 20px;
	border-radius: 100%;
}

.adrarea {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: space-between;
}

.selectad {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 30px;
}

.boxlist {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}